.scheudlecontainer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
}

.track{
  width: 30%;
  padding: 5px;
}

.track-info p{
  font-size: 16px;
}

.sessions{
  width: 70%;
  padding: 5px;
}


.card-header .session-time{
  color: #777777;
  font-size: 13px;
  margin-bottom: 5px;
}

.card-header h4 {
  font-weight: 700;
  font-size: 18px;
  color: #212121;
  margin-bottom: 8px;
}

.card-header .speaker {
  position: relative;
  font-size: 14px;
  color: #777777;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 5px;
  padding: 0;
}
.card{
  margin-bottom: 5px;
}

.card-header .speaker span{
  margin-right: 5px;
}
.card-header .speaker span.alert{
  padding: 0.2rem;
  border-radius: 0;
}
@media screen and (max-width: 768px) {
  .scheudlecontainer{
    flex-direction: column;
  }

  .track{
    width: 100%;
  }

  .sessions{
    width: 100%
  }
}